@model BookShoppingCartMvcUi.Models.DTOs.AuthorDTO

@{
    Layout = "_AdminLayout";
}

<h2>Update Author</h2>

<div style="width:50%">
    <h1>Add Author</h1>
    <a asp-action="Index" asp-controller="Author" class="btn btn-primary">Back</a>
    <form asp-action="UpdateAuthor">
        <input type="hidden" asp-for="Id" />

        <div class="my-2">
            <label>Author</label>
            <input type="text" asp-for="AuthorName" class="form-control" />
            <span asp-validation-for="AuthorName" class="text-danger"></span>
        </div>
        <div class="my-2">
            <label>Phone</label>
            <input type="text" asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="my-2">
            <label>Email</label>
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="my-2">
            <label>Gender</label>
            <input type="text" asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="my-2">
            <input type="submit" value="Update" class="btn btn-info" />
        </div>
    </form>
</div>
